table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    height: auto;
    width: 105px;
}
h1{
    text-align: center;
    color: rgb(40, 40, 247);
}
div{
    margin-left: 350px;
}
span{
    color: rgb(40, 40, 247);
}