body{
    background-color: aqua;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;

}
.container{
    display: flex;
    background-color: blueviolet;
}
.container1{
    flex: 1;
}
.container2{
    flex: 1.5;
}
  