table{
    border-collapse:collapse ;
}
table,td{
    border: 1px solid;
}
table{
    width: 800px;
    height:800px;
}
.tr1 td{
    text-align: center;
    
}
.chan td:nth-child(2n){
   
    background: black;
    
}
.le td:nth-child(2n+1){
   
    background:black;

}
.le td:nth-child(2n){
   
    background:white;
}
.chan td:nth-child(2n+1){
   
    background: white;
}
.tr1{
    height:30px ;
}
.hang{
    width: 30px;
    background: saddlebrown !important;
    text-align: right;
}

